<!-- product details -->

<section class="p-4 md:p-8">
  <div class="container max-w-6xl">
    <div class="grid grid-cols-1 lg:grid-cols-[minmax(0,0.7fr)_minmax(0,2fr)] gap-12">
      <div class="space-y-4">
        <!-- Main Image -->
        <div
          class="flex h-100 items-center justify-center overflow-hidden rounded-2xl border border-gray-100 bg-white p-6 shadow-sm"
        >
          <img
            [src]="selectedImage()"
            [alt]="productData().title"
            class="h-full w-full object-contain"
          />
        </div>

        <!-- Thumbnails -->
        <swiper-container
          class="mySwiper2 w-full"
          space-between="10"
          slides-per-view="4"
          free-mode="true"
          watch-slides-progress="true"
          navigation="true"
          [pagination]="{ clickable: true, bulletElement: 'span' }"
        >
          @for (image of productData().images; track image) {
            <swiper-slide>
              <div
                (click)="selectedImage.set(image)"
                class="mx-auto h-20 w-20 cursor-pointer overflow-hidden rounded-lg hover:scale-120 duration-200 transition-all"
                [class.border-main-color]="selectedImage() === image"
              >
                <img
                  [src]="image"
                  [alt]="productData().title"
                  class="h-full w-full object-contain"
                />
              </div>
            </swiper-slide>
          }
        </swiper-container>
      </div>

      <div class="border-2 border-slate-50 rounded-xl shadow-lg py-5 px-10">
        <div class="flex flex-col gap-6">
          <div class="space-y-3">
            <div class="flex gap-2">
              <span
                class="bg-[#4b9cff34] text-main-color text-xs px-2.5 py-1 rounded-full font-medium"
                >{{ productData().category?.name }}</span
              >
              <span
                class="bg-gray-100 text-gray-600 text-xs px-2.5 py-1 rounded-full font-medium"
                >{{ productData().brand?.name }}</span
              >
            </div>

            <h1 class="text-3xl md:text-4xl font-bold text-slate-900">{{ productData().title }}</h1>
            <div class="flex items-center gap-2">
              <div class="flex text-yellow-400 text-sm gap-0.5">
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i
                ><i class="fas fa-star"></i><i class="far fa-star text-gray-300"></i>
              </div>
              <span class="text-sm text-gray-500 font-medium"
                >{{ productData().ratingsAverage }} ({{
                  productData().reviews?.length
                }}
                reviews)</span
              >
            </div>

            <p class="text-2xl font-bold text-slate-900">
              {{ productData().price | currency: 'GBP' }}
            </p>
            @if (productData().quantity > 0) {
              <span
                class="inline-flex items-center gap-1.5 text-xs font-bold text-main-color bg-[#cee4f7] px-3 py-1 rounded-full"
              >
                <span class="w-2 h-2 rounded-full bg-main-color"></span> In Stock
              </span>
            } @else {
              <span
                class="inline-flex items-center gap-1.5 text-xs font-bold text-rose-600 bg-rose-50 px-3 py-1 rounded-full"
              >
                <span class="w-2 h-2 rounded-full bg-rose-500"></span> Out Of Stock
              </span>
            }
          </div>

          <div class="border border-slate-100"></div>

          <p class="text-sm text-gray-500 leading-relaxed max-w-md">
            {{ productData().description }}
          </p>

          <form class="">
            <label for="quantity-input" class="block mb-2.5 text-sm font-medium text-heading"
              >Quantity</label
            >
            <div class="flex items-center gap-4">
              <div class="relative flex items-center max-w-38 shadow-xs">
                <button
                  type="button"
                  id="decrement-button"
                  (click)="decrementQuantity()"
                  data-input-counter-decrement="quantity-input"
                  class="text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary font-medium leading-5 rounded-s-sm text-sm px-3 focus:outline-none h-10"
                >
                  <svg
                    class="w-4 h-4 text-heading"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M5 12h14"
                    />
                  </svg>
                </button>
                <input
                  type="text"
                  id="quantity-input"
                  [value]="quantity()"
                  data-input-counter
                  aria-describedby="helper-text-explanation"
                  class="border-x-0 h-10 text-center w-full bg-neutral-secondary-medium border-default-medium py-2.5 placeholder:text-body"
                  placeholder="999"
                  required
                />
                <button
                  type="button"
                  id="increment-button"
                  (click)="incrementQuantity()"
                  data-input-counter-increment="quantity-input"
                  class="text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary font-medium leading-5 rounded-e-sm text-sm px-3 focus:outline-none h-10"
                >
                  <svg
                    class="w-4 h-4 text-heading"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M5 12h14m-7 7V5"
                    />
                  </svg>
                </button>
              </div>
              <p id="helper-text-explanation" class="font-bold text-sm text-body shrink-0">
                {{ productData().quantity }} available
              </p>
            </div>
          </form>

          <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 pt-2">
            <button
              class="w-full cursor-pointer bg-main-color text-white font-bold py-3.5 rounded-xl hover:bg-second-color transition-all flex items-center justify-center gap-2 shadow-lg shadow-main-color"
            >
              <i class="fas fa-shopping-cart"></i> Add to Cart
            </button>
            <button
              class="f border cursor-pointer border-gray-200 py-3 rounded-xl font-bold text-gray-700 hover:bg-gray-50 transition-all"
            >
              <i class="far fa-heart"></i> Add to Wishlist
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
