/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@utility container {
  margin-inline: auto;
}

@theme {
  --color-main-color: #4b9cff;
  --color-second-color: #1760fc;
  --color-text-color: #364153;
}
body {
  font-family: 'Exo', sans-serif;
}

.toast-success,
.toast-error,
.toast-info,
.toast-warning {
  background-color: #4b9cff !important;
  color: white !important;
  border-radius: 12px !important;
}
